{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

formulae=(
	autojump
	bat
	curl
	fzf
	dropbox
	git
	git-delta
	git-gui
	jq
	nano
	nvm
	tealdeer
	wget
	mob
	ripgrep
	yarn
	openjdk@11
	mas
)

casks=(
	clipy
	kap
	alfred
	iterm2
	karabiner-elements
	postico
	rectangle
	notion
	spotify
	dropbox
	tableplus
	visual-studio-code
	obsidian
)

{{ if .work_device }}
	formulae+=(
		docker
		exa
		mitmproxy
		TomAnthony/brews/itermocil
	)
	casks+=(
		postman
		stats
	)
{{ end }}

brew update

brew install ${formulae[@]}
brew install --cask ${casks[@]}

brew cleanup

{{ end }}
